<div class="container">
  <div class="card">
    <div class="card-body">
      <h1>Hitta lediga lägenheter</h1>
      <p>
        Vårt erbjudande av hyresbostäder är brett. Vi välkomnar dig att hitta
        ditt nya hem hos oss!
      </p>
      <form>
        <mat-form-field class="style-width">
          <bi style="cursor: pointer" class="big" name="search"></bi>
          <input
            [formControl]="myControl"
            class="mat-style"
            matInput
            type="text"
            [matAutocomplete]="auto"
            style="color: rgb(82, 82, 82); font-weight: 400; font-size: 16px"
            spellcheck="false"
            (keyup.enter)="onSearch()"
            oninput="this.value = this.value.toLowerCase()"
          />
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option
              style="height: 30px"
              *ngFor="let option of filteredOptions | async"
              [value]="option"
              >{{ option.name }}</mat-option
            >
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
  </div>
</div>
