.container {
  position: relative;
  top: 150px;
}

.readonly-background {
  background-color: transparent;
}

.card-header {
  background-color: rgba(0, 157, 229, 255);
  margin-bottom: 50px;
}

.card-footer {
  margin-top: 50px;
}
