.background {
  width: 100%;
  height: 100vh;
  background: url("../../../assets/img/photo-1598928506311-c55ded91a20c.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 35% 35%;
}

.search-apartment {
  position: relative;
  top: 20%;
}

@media (min-width: 992px) {
  .search-apartment {
    top: 35%;
  }
}
