<div class="nav-container">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <a class="navbar-brand" routerLink="home"
      >Home <span class="span-ad">AD</span></a
    >
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="navbarsExampleDefault"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse"
      id="navbarsExampleDefault"
      [ngbCollapse]="isCollapsed"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home"
            >Hem <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="list">Lediga lägenheter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="create">Skapa annons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="help">frågor och svar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Logga in</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
