<div class="card-holder" *ngFor="let apartment of apartments">
  <h2>{{ apartment.address }}</h2>
  <div class="card">
    <img class="card-img-top" [src]="apartment.photoUrl" alt="Card image cap" />
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group">{{ apartment.city }}</li>
        <li class="list-group">
          {{ apartment.rooms }} rum {{ apartment.kvm }} kvm
        </li>
        <li class="list-group">Inflytt: {{ apartment.availableDate }}</li>
        <li class="list-group" style="font-weight: bold">
          {{ apartment.rentalCost }} kr/mån
        </li>
      </ul>
    </div>
  </div>
  <p class="publication-date">
    publiceringsdatum: {{ apartment.publicationDate }}
  </p>
</div>
